/* Add a black background color to the top navigation */
.topnav {
  background-color: #1d1d27;
  height:80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  display:flex;
}

/* Style the links inside the navigation bar */
.topnav > *{
  padding:1% 0 1% 1%;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  cursor:pointer;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.topnav h1 {
  padding-left:10px;
  padding-right:10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media (min-width: 1281px) and (max-width: 3000px) {
  .topnav {
    height:80px;
    width: 100%;
  }

}

/* Add a color to the active/current link */