/* Add a black background color to the top navigation */
.topnav {
  background-color: #1d1d27;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media (min-width: 1281px) and (max-width: 3000px) {
  .topnav {
    width: 1280px;
  }
}
/* Add a color to the active/current link */
#liveEvaluationTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 14px;
}

.container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

/* Styling for the toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: #8321f3;
}

input:checked + .toggle-slider:before {
  transform: translateX(20px);
}

/* Additional styling for the text and div */
.evaluationSwitch {
  font-size: 14px;
  display: flex;
  align-items: center;
}

body {
  background-color: #33353f;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
}

.white-3b784.yellow_tile {
  background-color: #dce179;
}

.black-b7cb6.yellow_tile {
  background-color: #c7ca61;
}

.white-3b784.brilliant_tile {
  background-color: #7ddde0;
}

.black-b7cb6.brilliant_tile {
  background-color: #66c4c5;
}

.white-3b784.great_tile {
  background-color: #94a4dd;
}

.black-b7cb6.great_tile {
  background-color: #7d8bc2;
}

.white-3b784.best_tile {
  background-color: #83b991;
}

.black-b7cb6.best_tile {
  background-color: #84b987;
}

.white-3b784.good_tile {
  background-color: #6ca077;
}

.black-b7cb6.good_tile {
  background-color: #60b864;
}

.white-3b784.mistake_tile {
  background-color: #c595a6;
}

.black-b7cb6.mistake_tile {
  background-color: #b38191;
}

#analysisAll {
  height: 100%;
  gap: 20px;
}

#chartContainer {
  background-color: #222227;
  border-radius: 2%;
}

#sidebar {
  overflow: hidden;
  height: 100vh;
}

#sidebarComponent {
  width: 100%;
  height: 100%;
  padding-top: 5px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: black;
}

#sidebarComponent::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

#sidebarComponent::-webkit-scrollbar-track {
  background: #343434;
  border-radius: 10px;
}

#sidebarComponent::-webkit-scrollbar-thumb {
  background: rgb(19, 19, 19);
  border-radius: 10px;
}

.moveOverview {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

.moveOverview > div {
  font-weight: bolder;
  font-size: 0.9rem;
}

.stellar > div {
  color: #7c20c3;
}

.great > div {
  color: #5c8bb0;
}

.best > div {
  color: #95bb4a;
}

.excellent > div {
  color: rgb(0, 172, 6);
}

.good > div {
  color: rgb(98, 164, 140);
}

.book > div {
  color: rgb(112, 60, 0);
}

.inaccuracy > div {
  color: rgb(255, 240, 101);
}

.mistake > div {
  color: rgb(197, 126, 33);
}

.miss > div {
  color: rgb(226, 65, 65);
}

.blunder > div {
  color: rgb(167, 0, 0);
}

.move-notation {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
  transition: background-color 0.2s;
}

.clickable:hover {
  background-color: lightblue;
}

.move-element {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  justify-items: start;
  grid-gap: 10px;
  padding: 2%;
}

#liveEvaluationContainer {
  padding: 2%;
}

.liveEvaluation {
  background-color: #d9d9d9;
  padding: 1%;
  border-radius: 10%;
  color: #222227;
  font-weight: bold;
}

.liveEvaluationLine {
  display: flex;
  align-items: center;
}

.move-element:nth-child(even) {
  background-color: #303030;
}

.move-element:nth-child(odd) {
  background-color: #222227;
}

@media (max-width: 700px) {
  #analysisAll {
    display: block;
  }
  #chartContainer {
    width: 100%;
    height: 60vh; /* Set the width to 50% of the viewport width */ /* Position the canvas absolutely inside the div */
    display: flex;
    flex-direction: column;
  }
  #chessgroundParentDiv {
    aspect-ratio: 1/1;
    width: 100%;
    flex-grow: 2;
    position: relative;
  }
  #chessground {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 701px) and (max-width: 1280px) {
  #analysisAll {
    display: flex;
  }
  #chartContainer {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 80vh;
  }
  #chessgroundParentDiv {
    width: 80vh;
    height: 80vh;
    position: relative;
  }
  #chessground {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
  }
}
@media (min-width: 1281px) and (max-width: 3000px) {
  #analysisAll {
    display: flex;
    width: 1280px;
  }
  #chartContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 80vh;
  }
  #chessgroundParentDiv {
    height: 80vh;
    width: 80vh;
    position: relative;
  }
  #buttonContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #myChart {
    height: 100px;
  }
  #chessground {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
  }
}
cg-board {
  background-color: #bfcfdd;
}

#myChart {
  top: 0;
  left: 0;
}