/* Add a black background color to the top navigation */
.topnav {
  background-color: #1d1d27;
  height: 100px;
  width: 100%;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.topnav h1 {
  padding-left: 10px;
  padding-right: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media (min-width: 1281px) and (max-width: 3000px) {
  .topnav {
    height: 100px;
    width: 1280px;
  }
}
/* Add a color to the active/current link */
@font-face {
  font-family: "chessFont"; /* Font name that you will use in your CSS */
  src: url("/assets/fonts/lichess.chess.woff") format("woff");
  /* Add additional formats for cross-browser support, such as:
     src: url('path/to/your/font.woff') format('woff2'),
          url('path/to/your/font.ttf') format('truetype'); */
}
#liveEvaluationTopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  font-weight: 700;
  color: #d9d9d9;
  font-size: 14px;
}

.liveBestMove {
  font-family: "chessFont";
  padding-left: 2%;
}

.container {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
}

/* Styling for the toggle switch */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 20px;
  transition: 0.4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .toggle-slider {
  background-color: #8321f3;
}

input:checked + .toggle-slider:before {
  transform: translateX(20px);
}

/* Additional styling for the text and div */
.evaluationSwitch {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.white-3b784.yellow_tile {
  background-color: #dce179;
}

.black-b7cb6.yellow_tile {
  background-color: #c7ca61;
}

.white-3b784.brilliant_tile {
  background-color: #7ddde0;
}

.black-b7cb6.brilliant_tile {
  background-color: #66c4c5;
}

.white-3b784.great_tile {
  background-color: #94a4dd;
}

.black-b7cb6.great_tile {
  background-color: #7d8bc2;
}

.white-3b784.best_tile {
  background-color: #83b991;
}

.black-b7cb6.best_tile {
  background-color: #84b987;
}

.white-3b784.good_tile {
  background-color: #6ca077;
}

.black-b7cb6.good_tile {
  background-color: #60b864;
}

.white-3b784.mistake_tile {
  background-color: #c595a6;
}

.black-b7cb6.mistake_tile {
  background-color: #b38191;
}

.promotion-figure-button {
  color: #60b864;
  width: 100%;
  height: 25%;
  display: flex;
  cursor: pointer;
  transition: background-color 0.2s;
}

.promotion-figure-button:hover {
  background-color: purple;
}

.promotion-figure-button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Images will maintain their aspect ratio and cover the entire wrapper */
}

.popup {
  aspect-ratio: 1/1;
  height: 100%;
  position: absolute;
  visibility: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.promotion-bar {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: absolute;
  width: 12.5%;
  height: 50%;
  background: #d4d4d4;
  z-index: 2;
}

#import_popup {
  top: 50%;
  left: 50%;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  padding: 5vh;
  background-color: #1d1d27;
  position: absolute;
  z-index: 5;
  width: 60%;
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  visibility: hidden;
}

#import_popup * {
  margin-top: 2vh;
}

#pgn_textarea {
  color: white;
  background-color: #1f1e24;
  height: 20vh;
  padding: 0.5em;
  width: 100%;
  resize: none;
}

.popup_button {
  padding-top: 100px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #33353f;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.parentOfEverything {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
}

#analysisAll {
  height: 100%;
  gap: 20px;
}

#chartContainer {
  background-color: #222227;
  border-radius: 2%;
}

#sidebar {
  overflow: auto;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: black;
}

#sidebarComponent {
  width: 100%;
  max-height: 100 vh;
  padding-top: 5px;
}

#sidebar::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

#sidebar::-webkit-scrollbar-track {
  background: #343434;
  border-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
  background: rgb(19, 19, 19);
  border-radius: 10px;
}

#chartContainer h4 {
  font-size: 1.8rem;
  cursor: pointer;
}

.moveOverview {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

#moveOverviewDiv.reversed > div {
  flex-direction: row-reverse;
}

.moveOverview * {
  font-weight: bolder;
  font-size: 1.4rem;
}

.moveOverview span {
  cursor: pointer;
}

.brilliant-color * {
  color: #7c20c3;
}

.great-color * {
  color: #5c8bb0;
}

.best-color * {
  color: #95bb4a;
}

.excellent-color * {
  color: rgb(0, 172, 6);
}

.good-color * {
  color: rgb(98, 164, 140);
}

.book-color * {
  color: rgb(112, 60, 0);
}

.inaccuracy-color * {
  color: rgb(255, 240, 101);
}

.mistake-color * {
  color: rgb(197, 126, 33);
}

.miss-color * {
  color: rgb(226, 65, 65);
}

.blunder-color * {
  color: rgb(167, 0, 0);
}

.move-notation {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
  transition: background-color 0.2s;
}

.clickable:hover {
  background-color: lightblue;
}

.move-element {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  justify-items: start;
  grid-gap: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.6rem;
}

#liveEvaluationContainer {
  padding: 2%;
}

.liveEvaluation {
  background-color: #d9d9d9;
  padding: 1%;
  border-radius: 10%;
  color: #222227;
  font-weight: bold;
}

.liveEvaluationLine {
  display: flex;
  align-items: center;
}

.move-element:nth-child(even) {
  background-color: #303030;
}

.move-element:nth-child(odd) {
  background-color: #222227;
}

@media (max-width: 700px) {
  body {
    overflow: visible;
  }
  .parentOfEverything {
    overflow: visible;
  }
  #analysisAll {
    display: block;
  }
  #chartContainer {
    width: 100%;
    height: 60vh; /* Set the width to 50% of the viewport width */ /* Position the canvas absolutely inside the div */
    display: flex;
    flex-direction: column;
  }
  #chessgroundParentDiv {
    aspect-ratio: 1/1;
    width: 100%;
    flex-grow: 2;
    position: relative;
  }
  #chessground {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 701px) and (max-width: 1280px) {
  #analysisAll {
    display: flex;
  }
  #chartContainer {
    display: flex;
    flex-direction: column;
    height: 80vh;
    aspect-ratio: 1/1.5;
  }
  #chessgroundParentDiv {
    width: 80vh;
    height: 90%;
    position: relative;
  }
  #chessground {
    height: 100%;
    aspect-ratio: 1/1;
  }
}
@media (min-width: 1281px) and (max-width: 3000px) {
  #analysisAll {
    flex: 1;
    display: flex;
    width: 1280px;
  }
  #chartContainer {
    display: flex;
    flex-direction: column;
    height: 80vh;
    aspect-ratio: 1/1.5;
  }
  #chessgroundParentDiv {
    width: 80vh;
    height: 100%;
    position: relative;
  }
  #buttonContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  #myChart {
    height: 100px;
  }
  #chessground {
    aspect-ratio: 1/1;
    height: 100%;
  }
}
cg-board {
  background-color: #bfcfdd;
}

#myChart {
  top: 0;
  left: 0;
}