@use 'navbar';
@use 'fonts';
@use 'liveEvaluation';
@use 'board';
@use 'importPgn';

html {
  font-size: 62.5%;
}

body {
  background-color: #33353f;
  color: #fff;
  font-family: Arial, sans-serif;
  overflow: hidden;
}


.parentOfEverything {
  display: flex;
  flex-direction: column;
  height: 95vh;
  overflow: hidden;
}


#analysisAll {
  height: 100%;
  gap: 20px;

}

#chartContainer {
  height: 100vh;
  background-color: #222227;
  border-radius: 2%;
}

#sidebar {
  overflow: auto;
  height: 100%;
  scrollbar-width: thin;
  scrollbar-color: black;
}

#sidebarComponent {
  width: 100%;
  height: 500px;
  max-height: 100 vh;
  padding-top: 5px;

}

#sidebar::-webkit-scrollbar {
  width: 8px;
  /* Adjust the width as needed */
}

#sidebar::-webkit-scrollbar-track {
  background: #343434;
  border-radius: 10px;
}

#sidebar::-webkit-scrollbar-thumb {
  background: rgb(19, 19, 19);
  border-radius: 10px;
}



#chartContainer h4 {
  font-size: 1.8rem;
  cursor: pointer;

}

.moveOverview {
  display: flex;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
}

#moveOverviewDiv.reversed>div {
  flex-direction: row-reverse;
}

.moveOverview * {
  font-weight: bolder;
  font-size: 1.4rem;
}

.moveOverview span {
  cursor: pointer;
}

.brilliant-color * {
  color: #20bec3;
}

.great-color * {
  color: #5c8bb0;
}

.best-color * {
  color: #95bb4a;
}

.excellent-color * {
  color: rgb(0, 172, 6);
}

.good-color * {
  color: rgb(98, 164, 140);
}

.book-color * {
  color: rgb(112, 60, 0);
}

.inaccuracy-color * {
  color: rgb(255, 240, 101);
}

.mistake-color * {
  color: rgb(226, 65, 65);
}

.miss-color * {
  color: rgb(226, 65, 65);
}

.blunder-color * {
  color: rgb(167, 0, 0);
}

.move-notation {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}

.clickable {
  cursor: pointer;
  transition: background-color 0.2s;
}

.clickable:hover {
  background-color: lightblue;
}

.move-element {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  justify-items: start;
  grid-gap: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 1.6rem;
}

#liveEvaluationContainer {

  padding: 2%;
}

.liveEvaluation {
  background-color: #d9d9d9;
  padding: 1%;
  border-radius: 10%;
  color: #222227;
  font-weight: bold;
}

.liveEvaluationLine {
  display: flex;

  align-items: center;
}


.move-element:nth-child(even) {
  background-color: #303030;
}

.move-element:nth-child(odd) {
  background-color: #222227;
}


@media (max-width: 700px) {
  body{
    overflow:visible;
  }
  .parentOfEverything{
    overflow:visible;
  }
  #analysisAll {
    display: block;
  }
  #chartContainer {
    width: 100%;
    height: 60vh; /* Set the width to 50% of the viewport width */ /* Position the canvas absolutely inside the div */
    display: flex;
    flex-direction: column;
  }
  #chessgroundParentDiv {
    aspect-ratio: 1/1;
    width: 100%;
    flex-grow: 2;
    position:relative;
  }
  #chessground {
    width:100%;
    height:100%;
  }
}

@media (min-width: 701px) and (max-width: 1280px) {
  #analysisAll {
    display: flex;
  }

  #chartContainer {
    display: flex;
    flex-direction: column;
    height: 80vh;
    min-width: 35vw;
    aspect-ratio: 1/1.5;
  }

  #chessgroundParentDiv {


    height: 90%;
    position: relative;
  }

  #chessground {
    max-width: 60vw;
    height: 100%;
    aspect-ratio: 1/1;
  }
}

@media (min-width: 1281px) and (max-width: 3000px) {
  #analysisAll {
    flex: 1;
    display: flex;
    width: 1280px;
  }

  #chartContainer {
    display: flex;
    flex-direction: column;
    height: 80vh;
    aspect-ratio: 1/1.5;
  }

  #chessgroundParentDiv {


    height: 95%;
    position: relative;

  }

  #buttonContainer {
    position: absolute;
    top: 0;
    left: 0;

    z-index: 2;
  }

  #myChart {

    height: 100px;
  }

  #chessground {
    aspect-ratio: 1 / 1;
    height: 100%;

  }
}



cg-board {
  background-color: #bfcfdd;
}

#myChart {
  top: 0;
  left: 0;
}